body {
    font-family: Helvetica, sans-serif;
}
.black-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2B3A5590;
    z-index: 1;
}
:root {
    --purple: #610C63;
    --pink: #d79bd6;
    --l-pink: #F8EDE3;
    --graphite: #2B3A55;
}

/* Navbar */

.header-area {
    position: fixed;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--purple);
    height: 90px;
}
.menu-brand {
    display: none;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #F8EDE3;
}
.large-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-top: 15px;
}
.large-menu li {
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
  
}
.large-menu a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: var(--l-pink);
}
.large-menu a:hover {
    padding-bottom: 18px;
    color: var(--pink);
    border-bottom: 8px solid var(--pink);
}
.bars-button {
    display: none;
    font-size: 30px;
    color: var(--l-pink);
    margin-right: 50px;
}
.bars-button:hover {
    color: var(--pink);
}
.close-button {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 30px;
    color: var(--l-pink);
}
.close-button:hover {
    color: var(--pink);
}
.offcanvas-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--purple);
    color: var(--l-pink);
    opacity: 0.9;
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
}
.offcanvas-menu-active {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.offcanvas-menu ul {
    width: 100%;
}
.offcanvas-menu ul li {
    list-style: none;
}
.offcanvas-menu ul li a {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5;
    color: var(--l-pink);
    padding: 15px 0 15px 2vw;
    text-decoration: none;
}
.offcanvas-menu ul li a:hover {
    color: var(--pink);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform 200ms;
}

/* About */

.about {
    padding-top: 200px;
}
.about .container {
    padding: 50px;
}
.photo {
    width: 300px;
    border: 5px solid var(--purple);
    border-radius: 100%;
    box-shadow: 3px 3px 20px var(--purple);
}
.about .profile {
    padding-top: 80px;
    text-align: center;
}
.name {
    color: var(--purple);
    font-size: 38px;
    font-weight: bold;
}
.occupation {
    color: var(--purple);
    font-size: 20px;
    font-weight: bold;
}
.btn {
    color: var(--purple);
}
.btn:hover {
    color: var(--pink);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.btn:focus {
    box-shadow: none;
}
.about .about-info {
    padding-top: 10px;
    font-size: 20px;
    line-height: 2;
    color: #8b8a8a;
}
.text {
    font-family: Montserrat, sans-serif;
}
.welcome {
    font-size: 25px;
    font-weight: 500;
    color: var(--graphite);
}
.about .h3 {
    font-weight: 600;
    color: #535963;
}
.contact-btn {
    background: none;
    border: none;
}
.contact-btn:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.link {
    color: var(--purple) !important;
    text-decoration: none;
    font-weight: 600;
}

/* Skills Bar */
.skills {
    padding-top: 6rem;
}
.skills .h3 {
    text-align: center;
    font-weight: 800;
    color: var(--graphite);
}
.skill-bar {
    padding: 20px;
}
.skill-bar:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}
.progress {
    height: 5px;
    background-color: var(--pink);
}
.progress-bar {
    background-color: var(--purple);
}
.progress-title {
    text-align: left;
    color: var(--purple);
}
.progress-percent {
    text-align: right;
    color: var(--purple);
}

  /* Portfolio */
.portfolio {
    padding-top: 6rem;
}
.portfolio .h3 {
    text-align: center;
    font-weight: 800;
    color: var(--graphite);
}
.portfolio .text {
    text-align: center;
}
.portfolio figure {
    color: var(--purple);
    width: 50%;
}
.portfolio figure:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.portfolio figcaption {
    background-color: #E9D5DA;
    border: 1px solid var(--purple);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 20px #610C6380;
}
.gallery {
    display: flex;
    flex: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.gallery .text {
    line-height: 1;
}
.gallery .h4 {
    font-weight: 600;
}
.gallery1 {
    border: solid 1px var(--purple);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 5px 5px 20px #610C6380;
    width: 100%;
  }

  /* Contact */
.contact {
    padding-top: 6rem;
}
.contact .h3 {
    text-align: center;
    font-weight: 800;
    color: var(--graphite);
}
.contact .card {
    box-shadow: 5px 5px 18px #610C6390;
}
.contact .card-body {
    text-align: left;
}
.contact strong {
    font-weight: 500;
    color: #535963;
}
.fill {
    font-size: 20px;
}
label {
    font-size: 16px;
}
.form-control {
    border: 1px solid var(--purple);
    border-top-left-radius: 5px;
}
.form-control:focus {
    box-shadow: none;
}
.submit-btn {
    font-weight: 700;
    color: #E9D5DA;
    background-color: var(--purple);
    width: 20%;
}
.submit-btn:hover {
    color: var(--pink);
    transform: scale(1.1);
}
.card-body .text {
    color: #8b8a8a;
}
.phone {
    color: var(--purple) !important;
    text-decoration: none;
}
.email {
    color: var(--purple) !important;
    text-decoration: none;
}

/* Footer */
hr {
    border: 1px solid var(--purple);
}
.footer {
    padding-top: 3rem;
}
.footer {
    color: var(--purple);
}
.footer .h4 {
    color: var(--purple);
    font-weight: bold;
}
/* Media query */
@media only screen and (max-width: 600px) {
    .large-menu {
        display: none;
    }
    .bars-button {
        display: block;
        padding-left: 380px;
    }
    .menu-brand{
        display: block;
    }
    .menu-brand:hover {
        color: var(--pink);
    }
    .photo-container {
        text-align: center;
    }
    .gallery .h4 {
        font-size: 18px;
    }
    .submit-btn {
        width: 40%;
    }
}